.time-entry-container {
    width: 80vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.time-entry-alternate {
    width: 80vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
    position: relative;
}
.date-container {
    flex-basis: auto;
    width: 16vw;
    line-height: 60%;
}